.style{
    position: absolute;
    left: 250px;
    top: 280px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
  }
  
  .login{
    position: absolute;
    left: 630px;
    top: 200px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width: 500px;
  }